body{
    background-color: white
     /*#b0bec5*/;
     cursor: auto;
}

#navbar{
    position: sticky;
    top: 0;
    z-index: 9999;
}

h1{
    font-family: Rubik;
    color: black;
}

.title{
    font-weight: bold;
    text-decoration: underline;
}

.caption{
    background: white;
    border-radius: 10px;
    padding: 0%;
}

.width100{
    width: 100%;
}

#vmw{
    scroll-margin-top: -17em;
}

.brand-logo{
    width: 40%;
    height: 100%;
    font-size: 1.6em !important;
}
.slides{
    width: 100% !important;
    height: 90% !important;
}

.slider .indicators {
    position: relative !important;
    height: 10% !important;
    /* margin-top: 1em !important;
    margin-bottom: 1em !important; */
    top: 2.5% !important;
}

.video{
    width: 80%;
    aspect-ratio: 16/9;
}

.collapsible-header {
    text-align: center; /* Center the text horizontally */
}

*{
    scroll-margin-top: 60px; /* Offset scroll to be below navbar */
}

/* Mobile-specific styles */
@media screen and (max-width: 800px) {
    .caption{
        width: 80% !important;
        margin: 0 auto !important; /* Center horizontally */
        margin: 0 auto !important; /* Center horizontally */
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important; /* Center vertically and horizontally */
    }
    .slider{
        height: 20em !important;
        position: relative !important;
    }

    .video{
        width: 100% !important;
        aspect-ratio: 16/9;
    }
    .collapsible-body{
        padding: 1em !important;
    }
    .parallax-container{
        height: 10em !important;
    }
}
